.App {
  font-family: sans-serif;
  text-align: center;
}
.a {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  background-blend-mode: ;
}
.b {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: initial;
  background-blend-mode: initial;
}
.c {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.d {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.4);
}
