.App {
  font-family: sans-serif;
  text-align: center;
}
.a {
  position: absolute;
  background-color: blue;
  width: 100px;
  height: 100px;
  z-index: 4;
}

.b {
  position: absolute;
  background-color: red;
  transform: translate(60px, 60px);
  width: 40px;
  height: 40px;
  z-index: 8;
}

.c {
  position: absolute;
  background-color: green;
  width: 40px;
  height: 40px;
  z-index: 6;
}

.d {
  position: absolute;
  background-color: black;
  width: 40px;
  height: 40px;
  transform: translate(80px, 80px);
  z-index: 7;
}
